.panel-asset-item {
    height: 47px;
    white-space: nowrap;
    padding: 2px;
    width: 100%;

    line-height: 47px;
    font-size: 1.1em;
    font-weight: bolder;
}

.panel-asset-item.selected {
    padding: 1px;
    border: 1px solid #234;
    background-color: #456;
}

.panel-asset-item img {
    float: left;
    height: 43px;
    width: 43px;
    margin: 2px;
    background-color: #89a;
}

.panel-asset-item img.loading-image {
    height: 43px;
    width: 43px;
    margin: 2px;
    margin-left: -45px;
    background-color: transparent;
}

.panel-asset-item span {
    /*display: inline-block;*/
    height: 43px;
    margin-left: 10px;
    clear: both;
    cursor: default;
}