/*.input-text-wrapper {*/
/*    position: relative;*/
/*    top: 3px;*/
/*    left: 5px;*/
/*    width: 28px;*/
/*    height: 13px;*/
/*    background-color: inherit;*/
/*    border: 2px solid lightslategray;*/
/*    border-radius: 15px;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    transition: left 0.33s, background-color 0.33s;*/
/*}*/

/*.input-text-wrapper .active {*/
/*    border: 2px solid white;*/
/*}*/

/*.input-text-dot {*/
/*    position: relative;*/
/*    top: 0;*/
/*    left: 2px;*/
/*    width: 13px;*/
/*    height: 13px;*/
/*    background-color: lightslategray;*/
/*    border-radius: 50%;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    transition: left 0.33s;*/
/*}*/

/*.input-text-wrapper.active .input-text-dot {*/
/*    background-color: white;*/
/*}*/

/*.input-text-wrapper.toggled .input-text-dot {*/
/*    left: 13px;*/
/*    transition: left 0.33s;*/
/*}*/

/*.input-text-wrapper.active  {*/
/*    border-color: white;*/
/*}*/

/*.input-text-wrapper.toggled  {*/
/*    background-color: darkolivegreen;*/
/*    transition: background-color 0.33s;*/
/*}*/

/*.input-text-wrapper.active.toggled  {*/
/*    background-color: green;*/
/*}*/

.input-text a,
.input-text a:link,
.input-text a:visited,
.input-text a:hover,
.input-text a:active {
    color: inherit;
}

span.input-text-label {
    display: inline-block;
    width: 50%;
}

span.hidden {
    display: none;
}
