.input-text a,
.input-text a:link,
.input-text a:visited,
.input-text a:hover,
.input-text a:active {
    color: inherit;
}

span.input-text-label {
    display: inline-block;
    width: 50%;
}

span.hidden {
    display: none;
}

