.navbar-button {
    color: white;
    display: inline-block;
    width: 45px;
    text-align: center;
    position: relative;
    margin-right: 3px;
}

.navbar-button.active {
    color: white;
    /*background-color: darkslateblue;*/
    background-color: #543;
    border: 3px solid darkgoldenrod;
    width: 39px;
    height: 39px;
    border-radius: 50%;
}

.navbar-button.disabled {
    color: slategray;
}
