.hidden {
    display: none;
}

.shown {
    display: block;
}

.panel-header-control {
    margin: 5px 0;
}

.panel-header-control a,
.panel-header-control a:link,
.panel-header-control a:visited,
.panel-header-control a:hover,
.panel-header-control a:active {
    color: inherit;
}

.panel-header-content input[type="text"] {
    width: 118px;
}

.panel-header-content input[type="text"].include-lookup {
    width: 101px;
}

.panel-header-content select {
    width: 125px;
}

.panel-header-content select.include-lookup {
    width: 17px;
}

.panel-header-content select.include-lookup-hidden {
    display: none;
}
